<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ tituloPagina }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input required clearInput [(ngModel)]="task.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input required clearInput [(ngModel)]="task.description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Categoría</ion-label>
      <ion-select [(ngModel)]="task.category" required>
        <ion-select-option value="personal">Personal</ion-select-option>
        <ion-select-option value="trabajo">Trabajo</ion-select-option>
        <ion-select-option value="estudios">Estudios</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-button *ngIf="task.title != '' && task.category != ''"
    (click)="saveTask()" expand="full">
      Guardar
    </ion-button>
  </div>
</ion-content>